/* Gallery.css */
.flip-card {
  perspective: 1000px;
  width: 100%;
  height: 210px;
  position: relative;
}
.flip-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease-in-out;
  transform-style: preserve-3d;
  position: relative;
}
.flip-card:hover .flip-inner {
  transform: rotateY(180deg);
}
.flip-front, .flip-back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1rem;
}
.flip-front {
  z-index: 2;
}
.flip-back {
  transform: rotateY(180deg);
  z-index: 1;
}
